

.list_item{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 238px;
}

.user_logout{
    font-size: 15px;
}

.post_body{
    background: #eff1f3;
    padding: 13px;
    border: 1px solid white;
    border-radius: 14px;
    margin: 35px 0 26px;
}

.post_subject{
    margin: 15px 0 17px;
}

.post_date{
    margin-top: -16px;
    font-size: 12px;
    color: black;
}